:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #233975;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}
a:hover {
  text-decoration: underline;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("image/christoph-nolte-Gin-O7NC4Bk-unsplash.jpg");
  background-size: cover;
}

.left .copy {
  color: white;
  text-align: center;
}

.right .copy {
  text-align: center;
}
.right .copy .p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}
.right form {
  width: 328px;
}

form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
}
.signup-btn {
  display: block;
  width: 100%;
  background: var(--primary-blue);
  font-weight: 700;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}
